// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* NAVBAR */

.bg-custom {
  background-color: #4f2faa;
}

/* FOOTER */

.social-icon {
  transition: all 0.3s;
}

.social-icon:hover {
  filter: brightness(0);
  transform: scale(1.3);
}

.footer-link {
  transition: all 0.3s;
}
.footer-link:hover {
  filter: brightness(0);
}

@media screen and(min-width:992px) {
  .footer-logo {
    height: 100px;
  }
}

/* ------ INDEX ------ */

/* main */

.index-title {
  animation-name: index-title-effect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes index-title-effect {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.main-image {
  height: 100vh;
  background-image: url("../images/selfi.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.nav-link-project {
  color: white;
}

.nav-link-project:hover {
  color: #4f2faa;
  transform: scale(1.05);
}

.index-project {
  transition: all 0.3s ease-in-out;
}
.index-project:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 15px #4f2faa;
}

/* ------ PROJECTS ------ */
.project-title {
  padding-top: 90px;
  font-size: 48px;
  animation-name: projects-title-effect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}

@keyframes projects-title-effect {
  0% {
    transform: translateX(-1000px);
  }

  25% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.nav-link-custom:hover {
  filter: brightness(0);
}

/* ------ SKILLS ------ */
.skills-title {
  padding-top: 90px;
  font-size: 48px;
  animation-name: skills-title-effect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;
}

@keyframes skills-title-effect {
  0% {
    transform: translateX(1000px);
  }

  25% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.hardSkill-image {
  height: 50px;
}

@media screen and (min-width: 768px) {
  .hardSkill-image {
    height: 70px;
  }
}

@media screen and (min-width: 992px) {
  .softSkills-list {
    font-size: 24px;
  }
}

/* ------ ABOUT ------ */

.about-title {
  font-size: 48px;
  padding-top: 90px;
  animation-name: about-title-effect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes about-title-effect {
  0% {
    transform: translateX(50%);
  }

  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(25%);
  }
  75% {
    transform: translateX(-25%);
  }
  80% {
    transform: translateX(15%);
  }
  85% {
    transform: translateX(-15%);
  }
  90% {
    transform: translateX(5%);
  }

  100% {
    transform: translateX(0px);
  }
}

.img-object-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------ CONTACT ------ */

.main-contact {
  background-image: url("../images/contact-image.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.btn-contact {
  transition: all 0.3s;
}

.btn-contact:hover {
  background-color: #4f2faa;
  color: #000;
  font-weight: 700;
  border: 2px solid white;
}

.contact-title {
  font-size: 48px;
  padding-top: 90px;
  animation-name: contact-title-effect;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
}

@keyframes contact-title-effect {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
