* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* navbar */
nav {
  background-color: #4f2faa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
}

.nav__logo {
  height: 40px;
}

.nav li {
  display: inline;
}

.nav__link {
  padding: 20px;
}

.nav__link:hover {
  color: gold;
}

/* homeImage */
#homeImage {
  height: 100vh;
  background-image: url("../images/selfi.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.homeImage__title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  padding-top: 80px;
}

/* myprojects */
#homeProjects {
  background-color: #000;
  padding: 50px;
}

.homeProjects__title {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.homeProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 0 150px 0 150px;
}
.homeProjects__image {
  /* width: 100%; */
  width: 300px;
  transition: transform 0.5s ease-in-out;
}

.homeProjects__image:hover {
  transform: scale(1.05);
}

/* footer */
footer {
  background-color: #4f2faa;
  padding: 50px 0 20px 0;
}

footer h2 {
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social__title {
  text-align: center;
}

.social__icon {
  padding: 15px;
  transition: 0.5;
}

.social__icon:hover {
  transform: scale(1.05);
}

.contact__title {
  margin-bottom: 15px;
}

.contact__link {
  display: block;
  margin-bottom: 15px;
  font-size: 20px;
}

.contact__image {
  margin-right: 15px;
}

.footer__rights {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

/* projects */
#projects {
  background-color: #000;
}

#projects h2 {
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
  color: #fff;
}

.content__projects {
  padding: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 140px 290px;
  justify-content: center;
}

.project {
  width: 400px;
}

.project__image {
  width: 100%;
  display: block;
}

.project__description {
  background-color: #4f2faa;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 0 0 20px 20px;
}

.project__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 15px;
}

.project__icon {
  height: 34px;
}

/* skills */
#skills {
  background-color: #000;
  color: #fff;
}

#skills h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 100px;
  color: #fff;
}

.softSkills,
.hardSkills {
  padding: 50px 145px;
}

.softSkills__title,
.hardSkills__title {
  font-size: 36px;
}

.softSkills__list {
  list-style: initial;
  padding: 25px;
}

.softSkills__item {
  padding: 20px 0;
  font-size: 20px;
}

.hardSkills__list {
  width: 500px;
}

.hardSkills__item {
  font-size: 20px;
  padding: 20px;
}

/* about */
#about {
  background-color: #000;
  color: #fff;
  padding: 0 145px;
}

#about h2 {
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
  color: #fff;
  margin-bottom: 54px;
}

#about h3 {
  font-size: 36px;
  margin-bottom: 40px;
  margin-top: 58px;
}

#about p {
  text-align: center;
  margin-bottom: 14px;
  font-size: 20px;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
}

.hobbies__image {
  width: 380px;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  padding-bottom: 55px;
}

.interests__image {
  width: 380px;
}

/* contact */

#main__contact {
  background-image: url("../images/contact-image.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#contact h2 {
  color: #fff;
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 30px;
  margin: 10px auto 0;
}

.form input {
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.form label {
  color: white;
  font-size: 26px;
  margin-bottom: 10px;
}

.form textarea {
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

#submit {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  cursor: pointer;
}

#submit:hover {
  background-color: #4f2faa;
  color: #000;
}
