.main-contact {
  @include backgroundImage(
    "../images/contact-image.jpg",
    cover,
    no-repeat,
    top center
  );
}

.contact-title {
  @include animation(contact-title-effect, $pt-title, $fs-title, 0.5s);
}

.btn-contact {
  @extend .btn, .btn-dark;
  transition: all 0.3s;
  &:hover {
    background-color: map-get($mycolors, color-main);
    color: map-get($mycolors, color-secondary);
    font-weight: 700;
    border: 2px solid map-get($mycolors, color-text);
  }
}

@keyframes contact-title-effect {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}
