.index-title {
  @include animation(index-title-effect, null, null, 1s);
}

@keyframes index-title-effect {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

.main-image {
  @include backgroundImage("../images/selfi.JPG", cover, no-repeat, top center);
}

.nav-link-project {
  color: map-get($mycolors, color-text);
  margin-bottom: 50px;
  transition: all 0.3s;

  &:hover {
    color: map-get($mycolors, color-main);
    transform: scale(1.05);
  }

  h2 {
    font-size: 32px;
  }
}

.index-project {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 15px map-get($mycolors, color-main);
  }
}

@media screen and (min-width: 992px) {
  .nav-link-project {
    h2 {
      font-size: $fs-title;
    }
  }
}
