.skills-title {
  @include animation(skills-title-effect, $pt-title, $fs-title, 0.7s);
}

@keyframes skills-title-effect {
  0% {
    transform: translateX(1000px);
  }

  25% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.hardSkill-image {
  height: 50px;
}

@media screen and (min-width: 768px) {
  .hardSkill-image {
    height: 70px;
  }
}

@media screen and (min-width: 992px) {
  .softSkills-list {
    font-size: 24px;
  }
}
